<div id="<%= dom_id book %>" class="book bg-gray-100 shadow-md rounded-md border border-slate-300 p-4 flex flex-col">
  <h3 class="bold text-xl"><%= book.name %></h3>
  <%= link_to book.author.name, author_path(book.author), class: 'text-sky-600 underline', "data-turbo": false %>


  <div class="py-5 blurred-img", style: "background-color: <%= url_for(book.cover.variant(:lazy_loaded))%>">
    
    <% if book.cover.attached? %>
      <%= image_tag book.cover, class: 'w-full h-auto max-h-[300px] object-cover shadow-md', width: 300, height: 300 %>
    <% end %>
    
  </div>
  <p class="my-5 prose"><%= book.description.to_plain_text.truncate(30) %></p>

  <p class="my-5">
    <%= link_to "Read more...", book, class: "px-4 py-2 bg-sky-600 text-gray-100 rounded-md", data: {turbo: "false"} %>
  </p>

</div>
